@font-face {
  font-family: "Baloo2";
  src: url("./core/fonts/baloo2/Baloo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Baloo2";
  src: url("./core/fonts/baloo2/Baloo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Baloo2";
  src: url("./core/fonts/baloo2/Baloo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Baloo2";
  src: url("./core/fonts/baloo2/Baloo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Baloo2";
  src: url("./core/fonts/baloo2/Baloo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: "Baloo2";
}

.App > *:first-child {
  padding-top: 10vh;
}
.App > *:last-child {
  padding-bottom: 12vh;
}

.App-link {
  color: #61dafb;
}

h3 {
  font-family: "Baloo2";
  font-weight: 600;
  text-align: left;
}
